In [ ]:
# Dictionary

list1 = ['bananas', 'apple', 'mango', 'durian']
IDcard = {
    "Name": "Siti", # Name is the key, Siti is the value (key-value pair)
    "Gender" : "Female",
    "Country": "Malaysia",
}

In [ ]:
list1 = ['bananas', 'apple', 'mango', 'durian']
IDcard = {
    "Name": "Siti", # Name is the key, Siti is the value (key-value pair)
    "Gender" : "Female",
    "Country": "Malaysia"
}
print(list1)
print(IDcard)
print(IDcard["Name"])
print(IDcard["Gender"])
print(IDcard["Country"])

['bananas', 'apple', 'mango', 'durian']
{'Name': 'Siti', 'Gender': 'Female', 'Country': 'Malaysia'}
Siti
Female
Malaysia

In [ ]:
# add new key value to Dictionary
IDcard["Age"] = 20
print(IDcard)

{'Name': 'Siti', 'Gender': 'Female', 'Country': 'Malaysia', 'Age': 20}

In [ ]:
# update an existing key value
IDcard["Name"] = "Siti Atiqa"
print(IDcard)

{'Name': 'Siti Atiqa', 'Gender': 'Female', 'Country': 'Malaysia', 'Age': 20}

In [ ]:
# remove a key value
del IDcard["Gender"]
print(IDcard)

KeyError: 'Gender'

In [ ]:
print(IDcard.keys())
print(IDcard.values())
print(IDcard.items())

dict_keys(['Name', 'Country', 'Age'])
dict_values(['Siti Atiqa', 'Malaysia', 20])
dict_items([('Name', 'Siti Atiqa'), ('Country', 'Malaysia'), ('Age', 20)])

In [ ]:
# Example
student_scores={
    "Jun" : 34,   # not '=' but use ':' important detail
    "Bong" : 50,
    "Ray" : 40
}
total = student_scores.values()
print(sum(total))

124

In [ ]:
IDcard1 = {
    "Name":"Richard",
    "Age": 35,
    "City" : "London"
}
print(IDcard1["Age"])

IDcard1["Email"] = "richard.m.johnson@examplepetstore.com"
print(IDcard1)

35
{'Name': 'Richard', 'Age': 35, 'City': 'London', 'Email': 'richard.m.johnson@examplepetstore.com'}

In [ ]:
IDcard1["City"] = "Paris"
print(IDcard1)

{'Name': 'Richard', 'Age': 35, 'City': 'Paris', 'Email': 'richard.m.johnson@examplepetstore.com'}

In [ ]:
del IDcard1["Age"]
print(IDcard1)

{'Name': 'Richard', 'City': 'Paris', 'Email': 'richard.m.johnson@examplepetstore.com'}