String > text

there are two ways of writing strings

In [ ]:
str1 = "jong"
str2 = 'jong'
print(str1)
print(str2)

jong
jong

In [ ]:
str3 = 'i am jong's student

SyntaxError: invalid syntax (ipython-input-2-426899085.py, line 1)

In [ ]:
str3 = "i am jong's student"

In [ ]:
print(len(str3))

19

In [ ]:
len() shows us the number of characters in a word/sentence

SyntaxError: unmatched ')' (ipython-input-5-3366022819.py, line 2)

String indexing

Accessing a letter of the string
1st letter start with [0][1][2][3]...

In [ ]:
word = "Fishball"

print(word[0])
print(word[3])
print(word[-1])
print(word[-3])

F
h
l
a

In [ ]:
name = "Siti Atiqa"

print(name[0])
print(name[2])
print(name[4])
print(name[-2])
print(name[-5])
print(name[-1])

S
t

q
A
a

String slicing

Indexing in a form of word
Accessing more than 1 word

In [ ]:
intro = "my name is jong"
print(intro[-5:])
print(intro[0:2])
print(intro[0:1])
print(intro[0:7])
print(intro[-5:7])
print(intro[:-5])
print(intro[7:-5])

 jong
my
m
my name

my name is
 is

In [ ]:
name = "i am a codeRanger's student"
print(name[0])
print(name[2:4])
print(name[7:11])
print(name[11:17])

i
am
code
Ranger

String Concatenation

In [ ]:
str1 = 'jong'
str2 = 'jun'
print(str1 + str2)
print(str1 + " " + str2)

jongjun
jong jun

String Duplication

In [ ]:
str2 = 'jun'
print(str2*4)
print(str2 + " " * 4)
print((str2 + " ") * 4)

junjunjunjun
jun
jun jun jun jun

In [ ]:
name = "malaySia"
print(name.lower())
print(name.upper())
print(name.capitalize())

malaysia
MALAYSIA
Malaysia

In [ ]:
# Fix the error in this string by using the correct quote type:
# str3 = 'I am Jong's student'

# What is the length of the string below?
str4 = "I love Malaysia"

# Print the word "Hi" five times with spaces:

In [ ]:
str3 = "I am Jong's student"
print(str3)

str4 = "I love Malaysia"
print(len(str4))

name = "Hi"
print((name + " ") *5)

I am Jong's student
15
Hi Hi Hi Hi Hi

In [ ]:
name = input(" enter name: ")
print(name)

 enter name: Siti
Siti

In [ ]:
name = 'Jong'
Age = 24
print("My name is " + name + " and i am " + str(Age))

My name is Jong and i am 24

In [ ]:
age  = "24"
print(age*2)
print(int(age)*2)

2424
48

In [ ]:
password = input("enter password:")
if password == "JOng":
  print("access granted")
else:
  print("retry")

enter password:oooo
retry