In [ ]:
#Data Types
#Integers - Numbers without decimals
#String - Text variable = "text",'text'
#Float -Numbers with decimals
#List
#Tuples
#Sets
#Dictionary
#Boolean-True and False
#Logics
#If-Else Statement
#For Loops
#Functions

# String Duplication

In [ ]:
num1 = 5
num2 = 7

print(num1 * num2)

# in python numbers, the "*" is to do multiplication

35

In [ ]:
str1 ="Jun"

print(str1 * 4)
# in python strings, the "*" is to do duplication

JunJunJunJun

In [ ]:
num3 = "4"
num4 = "5"

print(num3+num4)

45

In [ ]:
text1 = "The box isn't"

In [ ]:
text2 = """My name is Alvin
i am 25 years old
i am staying in Penang"""

In [ ]:
text3 = '''My name is Alvin
i am 25 years old
i am staying in Penang'''

# String Commands / Functions

In [ ]:
str1 = "CoDeRaNgErS"