<a href="https://colab.research.google.com/github/sitiatiqa/python-lessons/blob/main/Lesson_10_For_Loops_23082025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Data Type
#Strings
#Integer
#Floats
#List
#Tuple
#Sets
#Dictionary
#Boolean -> True,False
#Logics
#If/Else
#For Loops
#Function

#For Loop

`For Loop` acts as a `repeater/iterator` in Python.

It `goes through items that are in a sequence` or `any other iterable/loopable item`.

<u>Vocabulary</u>
*   `Loop / Iterate` - Repeat

---
We have learned that `string` and `list` are what we called `sequence` object. We can `index or slice` them.

In [ ]:
#Why do we need "for loop"

#Imagine you want to print the first 10 numbers
print(0)
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)

# this is without loop/repeat - very manual and troublesome

0
1
2
3
4
5
6
7
8
9

---

###1. Looping Through a Range()
Range() is a `loopable/iterable` object, they `contain a sequence of numbers`:

<br>
<b> <u>Example 1: range(0,10)</u></b>

In [ ]:
for x in range(0,10):
  print(x)

# range() can have 2 inputs:-> range(staring number:ending number - 1)
# (i)   starting number
# (ii)  ending number (excluded)

#"x" is a variable for your loop that changes valu

#For Example:
# range(0,10) means 0 to 10 (excluding 10)
# 1st Loop              --> "x" = 0 --> print(x) --> print(0)
# 2nd Loop              --> "x" = 1 --> print(x) --> print(1)
# 3rd Loop              --> "x" = 2 --> print(x) --> print(2)
# and so on...
# 10th Loop (Last Loop) --> "x" = 9 --> print(x) --> print(9)

0
1
2
3
4
5
6
7
8
9

<b> <u>Example 2: range(0,21,2)</u></b>

In [ ]:
for x in range(0,21,2):
  print(x)

# range() can also have 3 inputs:-> range(starting number, ending number,increment/decrement value )
# (i)   starting number
# (ii)  ending number (excluded)
# (iii) increment/decrement (increase/decrease by how many each loop)

# range(0,21,2) means 0 to 20 (excluding 21),

#"x" is a variable for your loop that changes value DEPENDING ON WHICH LOOP IT IS In

#For Example:
# 1st Loop              --> "x" = 0 --> print(x) --> print(0)
# 2nd Loop              --> "x" = 2 --> print(x) --> print(2)
# 3rd Loop              --> "x" = 4 --> print(x) --> print(4)
# and so on...
# 11th Loop (Last Loop) --> "x" = 20 --> print(x) --> print(20)

0
2
4
6
8
10
12
14
16
18
20

<b> <u>Example 3: range(100,49,-2)</u></b>

In [ ]:
# range(100,49,-2) means 100 to 50 (excluding 49), with STEP SIZE of -2

for x in range(100,49,2):
  print(x)

In [ ]:
# Example 1(Create a for lopp to get the following output as below )
# 50,55,60,65...90

for x in range(50,95,5):
  print(x)

50
55
60
65
70
75
80
85
90

In [ ]:
# Example 2(Create a for lopp to get the following output as below )
# 1000, 950, 900, 950...

for x in range(1000,-1,-50):
  print(x)

1000
950
900
850
800
750
700
650
600
550
500
450
400
350
300
250
200
150
100
50
0

<b> <u>Example 4</u></b>

In [ ]:
#Assign numbers to students for example -> Student 1 -> Student ?

for x in range(1,10):
  print("Student:"+str(x)+ ":")

Student:1:
Student:2:
Student:3:
Student:4:
Student:5:
Student:6:
Student:7:
Student:8:
Student:9:

---

###2. Looping Through a String
Even strings are `loopable/iterable` objects, they `contain a sequence of characters`:

In [ ]:
#Banana

for x in "banana":
  print(x)

#For Example:
# "banana" means b a n a n a --> 6 letters --> 6 loops

# 1st Loop             --> "x" = "b" --> print(x) --> print("b")
# 2nd Loop             --> "x" = "a" --> print(x) --> print("a")
# 3rd Loop             --> "x" = "n" --> print(x) --> print("n")
# and so on...
# 6th Loop (Last Loop) --> "x" = "a" --> print(x) --> print("a")

b
a
n
a
n
a

As mentioned before, `string` and `list` are sequence object.

They are `loopable/iterable`.

---

###3. Looping Through a List
Even lists are `loopable/iterable` objects, they `contain a sequence of list items`:

In [ ]:
#Loop through the list
grocery_list = ["apple","banana","cherry"]

for x in grocery_list:
  print(x)

#For Example:
# ["apple","banana","cherry] means "apple" "banana" "cherry"

# 1st Loop             --> "x" = "apple"  --> print(x) --> print("apple")
# 2nd Loop             --> "x" = "banana" --> print(x) --> print("banana")
# 3rd Loop (Last Loop) --> "x" = "cherry" --> print(x) --> print("cherry")

apple
banana
cherry

In [ ]:
for x in [123,453,56,343,76,100,21,42]:
  print(x)

123
453
56
343
76
100
21
42

In [ ]:
for x in [123,453,56,343,76,100,21,42]:
  #Filter value > 100 from the list
  if(x>100):
    print(str(x)+ " is more than 100")
  #Filter value < 100 from the list
  elif(x<100):
    print(str(x)+ " is less than 100")
  else:
    print(str(x) + " is exactly 100")

123 is more than 100
453 is more than 100
56 is less than 100
343 is more than 100
76 is less than 100
100 is exactly 100
21 is less than 100
42 is less than 100

---

###4. Break Keyword

The `break` keyword can be use to `exit the loop`, usually `used when a condition is met`

The `break` keyword is usually used with `if/else` statements inside a ` loop`

In [ ]:
list1 = [43,54,32,101,321,532]# For example, if you want to find the 1st number (first occurence) larger than 100 in an array

for x in list1:
  if(x>100):
    print("The first number that is bigger than 100 in this array is " + str(x))
    break

# [43,54,32,101,321,532] --> 6 items --> 6 loops

# 1st loop --> x = 43  --> (is x > 100) --> (is 43 > 100)  --> FALSE --> skip if/else (run next loop)
# 2nd loop --> x = 54  --> (is x > 100) --> (is 54 > 100)  --> FALSE --> skip if/else (run next loop)
# 3rd loop --> x = 32  --> (is x > 100) --> (is 32 > 100)  --> FALSE --> skip if/else (run next loop)
# 4th loop --> x = 101 --> (is x > 100) --> (is 101 > 100) --> TRUE  --> run if/else  -->  "First num > 100 is 101" --> break --> exit loop


# even though supposingly there are 6 loops, we break it at 4th loop (BECAUSE CONDITION IS MET)

The first number that is bigger than 100 in this array is 101

In [ ]:
list1 = [43,54,32,101,321,532]# For example, if you want to find the 1st number (first occurence) larger than 100 in an array

for x in list1:
  if(x>100):
    print("The first number that is bigger than 100 in this array is " + str(x))

# [43,54,32,101,321,532] --> 6 items --> 6 loops

# 1st loop --> x = 43  --> (is x > 100) --> (is 43 > 100)  --> FALSE --> skip if/else (run next loop)
# 2nd loop --> x = 54  --> (is x > 100) --> (is 54 > 100)  --> FALSE --> skip if/else (run next loop)
# 3rd loop --> x = 32  --> (is x > 100) --> (is 32 > 100)  --> FALSE --> skip if/else (run next loop)
# 4th loop --> x = 101 --> (is x > 100) --> (is 101 > 100) --> TRUE  --> run if/else  -->  "First num > 100 is 101"
# 5th loop --> x = 321 --> (is x > 100) --> (is 321 > 100) --> TRUE  --> run if/else  -->  "First num > 100 is 321"
# 6th loop --> x = 532 --> (is x > 100) --> (is 532 > 100) --> TRUE  --> run if/else  -->  "First num > 100 is 532"


# we ran through ALL 6 loops because no break statement, 3/6 will have the print() because condition is TRUE
# not the correct logic (without break in this example)

The first number that is bigger than 100 in this array is 101
The first number that is bigger than 100 in this array is 321
The first number that is bigger than 100 in this array is 532

In [ ]:
# Calculate the number of loops it will take to reach the first value "50" in this array

list1 = [43,54,32,50,321,532]

counter = 0 # intialize a "counter" variable (to calculate the number of loops it will take)

for x in list1:
  counter = counter +1
  if(x==50):
    break

print("You need to loop " + str(counter) + " times in this array to get the value of 50.")

# [43,54,32,50,321,532] --> 6 items --> 6 loops

# 1st loop --> x = 43  --> (counter = counter + 1) --> (counter = 0 + 1) --> (counter = 1) --> (is x == 50 ?) --> (is 43 == 50 ?) --> FALSE -->  skip if/else (run next loop)
# 2nd loop --> x = 54  --> (counter = counter + 1) --> (counter = 1 + 1) --> (counter = 2) --> (is x == 50 ?) --> (is 54 == 50 ?) --> FALSE -->  skip if/else (run next loop)
# 3rd loop --> x = 32  --> (counter = counter + 1) --> (counter = 2 + 1) --> (counter = 3) --> (is x == 50 ?) --> (is 32 == 50 ?) --> FALSE -->  skip if/else (run next loop)
# 4th loop --> x = 50  --> (counter = counter + 1) --> (counter = 3 + 1) --> (counter = 4) --> (is x == 50 ?) --> (is 50 == 50 ?) --> TRUE  -->  run if/else --> break --> exit loop

# counter's value is "4" when we break the loop

You need to loop 4 times in this array to get the value of 50.

---

###5. Continue Keyword

The `continue` keyword can be use to `end the current loop and continue to the next loop`, usually `used when a condition is met`

The `continue` keyword is usually used with `if/else` statements inside a ` loop`

In [ ]:
for x in range(0,5):
  if x == 2:
    continue # The "continue" statement is used to SKIP THE REMAINING code below, proceed to the next loop
  print("Loop:" + str(x))

# range(0,5) --> [0 1 2 3 4] --> 5 loops

# 1st loop --> x = 0 --> (is x == 2 ?) --> (is 0 == 2) --> False --> skip if/else --> print(Loop: x) --> print(Loop: 0)
# 2nd loop --> x = 1 --> (is x == 2 ?) --> (is 1 == 2) --> False --> skip if/else --> print(Loop: x) --> print(Loop: 1)
# 3rd loop --> x = 2 --> (is x == 2 ?) --> (is 2 == 2) --> True  --> run if/else --> continue (SKIP CURRENT LOOP, dont run code below, go to next loop)
# 4th loop --> x = 3 --> (is x == 2 ?) --> (is 3 == 2) --> False --> skip if/else --> print(Loop: x) --> print(Loop: 3)
# 5th loop --> x = 4 --> (is x == 2 ?) --> (is 4 == 2) --> False --> skip if/else --> print(Loop: x) --> print(Loop: 4)

#When the condition num == 2 becomes True, the "continue" statement gets executed.
#The remaining code (below the "continue", which is the print statement) in the loop is skipped only for that loop.
# Thatâ€™s why "Loop: 5" is missing from the below output.

Loop:0
Loop:1
Loop:3
Loop:4

In [ ]:
# break    --> exit the WHOLE LOOP
# continue --> exit the CURRENT LOOP

In [ ]:
#There are 2 types of counter
#Type 1
counter = 0

for x in range(10):
  counter = counter + 1
  print(counter)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#Type 2

counter = 0

for x in range(10):
  counter += 1 #Shortcut
  print(counter)

1
2
3
4
5
6
7
8
9
10

---

###6. More examples with For Loops

<br>
<b> <u>Example 1: print "hello" 10 times</u></b>

In [ ]:
for x in range(0,10):
  print("Hello")

# range(0,10) means 0 1 2 3 4 5 6 7 8 9 --> 10 numbers --> 10 loops

# then using the 10 loops, we print("Hello") 10 times

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

<b> <u>Example 2: print "hello" and "bye" 10 times each</u></b>

In [ ]:
for x in range(0,10):
  print("Hello")
  print("Bye")

Hello
Bye
Hello
Bye
Hello
Bye
Hello
Bye
Hello
Bye
Hello
Bye
Hello
Bye
Hello
Bye
Hello
Bye
Hello
Bye

<b> <u>Example 3: add "hello" into a `list` 5 times</u></b>

In [ ]:
#empty list
list1 = []

for x in range(0,5):
  list1.append("hello")

print(list1)
#let's split and explain the code above

# range(0,5) means 0 1 2 3 4 --> 5 numbers --> 5 loops

# then using the 5 loops, we append "Hello" 5 times

['hello', 'hello', 'hello', 'hello', 'hello']

<b> <u>Example 4: add "hello" & "bye" into a `list` 5 times each</u></b>

In [ ]:
list1 = []

for x in range(5):
  list1.append("hello")
  list1.append("bye")

print(list1)

['hello', 'bye', 'hello', 'bye', 'hello', 'bye', 'hello', 'bye', 'hello', 'bye']

---

### 7. Nested For Loop

Nested For Loop - `a loop inside another loop`

In [ ]:
# example 1

# Nested For Loop - a loop inside another loop
# The "inner loop" will be executed one time for each loop of the "outer loop"

adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]


for x in adj:
  for y in fruits:
    print(x + " " + y)

# 1st loop (outer loop - adj) --> x = "red"
#       1st sub loop (inner loop - fruits) --> y = "apple"  --> print(x + " " + y) --> print("red apple")
#       2nd sub loop (inner loop - fruits) --> y = "banana" --> print(x + " " + y) --> print("red banana")
#       3rd sub loop (inner loop - fruits) --> y = "cherry" --> print(x + " " + y) --> print("red cherry")

# 2nd loop (outer loop - adj) --> x = "big"
#       1st sub loop (inner loop - fruits) --> y = "apple"  --> print(x + " " + y) --> print("big apple")
#       2nd sub loop (inner loop - fruits) --> y = "banana" --> print(x + " " + y) --> print("big banana")
#       3rd sub loop (inner loop - fruits) --> y = "cherry" --> print(x + " " + y) --> print("big cherry")

# 3rd loop (outer loop - adj) --> x = "tasty"
#       1st sub loop (inner loop - fruits) --> y = "apple"  --> print(x + " " + y) --> print("tasty apple")
#       2nd sub loop (inner loop - fruits) --> y = "banana" --> print(x + " " + y) --> print("tasty banana")
#       3rd sub loop (inner loop - fruits) --> y = "cherry" --> print(x + " " + y) --> print("tasty cherry")

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

# example 2

In [ ]:
x = [1,2]
y = [4,5]

for i in x:
  for j in y:
    print(str(i)+ " " + str(j))

1 4
1 5
2 4
2 5

In [ ]:
# example 3 (multiplication table for x2 and x3)

# outer loop --> range(2,4) --> [2,3]
# inner loop --> range(1,11) --> [1,2,3,4,5,6,7,8,9,10]

# Running outer loop from 2 to 3
for i in range(2,4):
  # Running inner loop from 1 to 10
  for j in range(1,11):
    print(str(i) + "*" + str(j) + "=" + str(i*j))

  print()


# outer loop --> range(2,4) --> [2,3]
# inner loop --> range(1,11) --> [1,2,3,4,5,6,7,8,9,10]

# 1st loop (outer loop - range(2,4)) --> i = 2
#       1st sub loop (inner loop - range(1,11)) --> j = 1  --> str(i) + "*" + str(j) + "=" + str(i*j) --> 2*1=2
#       2nd sub loop (inner loop - range(1,11)) --> j = 2  --> str(i) + "*" + str(j) + "=" + str(i*j) --> 2*2=4
#       3rd sub loop (inner loop - range(1,11)) --> j = 3  --> str(i) + "*" + str(j) + "=" + str(i*j) --> 3*2=6
#       and 7 more sub loops...

# print()

# 2nd loop (outer loop - range(2,4)) --> i = 3
#       1st sub loop (inner loop - range(1,11)) --> j = 1  --> str(i) + "*" + str(j) + "=" + str(i*j) --> 3*1=3
#       2nd sub loop (inner loop - range(1,11)) --> j = 2  --> str(i) + "*" + str(j) + "=" + str(i*j) --> 3*2=6
#       3rd sub loop (inner loop - range(1,11)) --> j = 3  --> str(i) + "*" + str(j) + "=" + str(i*j) --> 3*3=9
#       and 7 more sub loops...

# print()

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20

3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30

In [ ]:
for i in range(1,6):# Outer loop for the rows
    for j in range(1,11):#Inner Loop for the columns
        print(i*j ,end = "\t")

    print()

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50

In [ ]:
#create a program that loops through this string and count the total occurence of "e" and "a"

sentence = "why is he Eating an Apple?"
counter = 0

for x in sentence:
  if (x.lower() =='e' or x.lower == 'a'):
    counter += 1

print(counter)

3

In [ ]:
# example 2 - create a program that loops through this list and determine if the number is divisible by 4

numbers = [3213,2000,321,60,321,20]

for x in numbers:
  if (x % 4 == 0):
    print(str(x)+ " is divisible by 4.")
  else:
    print(str(x) + " is NOT divisible by 4.")

3213 is NOT divisible by 4.
2000 is divisible by 4.
321 is NOT divisible by 4.
60 is divisible by 4.
321 is NOT divisible by 4.
20 is divisible by 4.

In [ ]:
# example 3 - point system

# if 'a'         --> add 10 points
# if 'b'         --> add 5  points
# if 'c'         --> add 3  points
# if 'd' or 'f'  --> add 1  points

sentence = "banana could be my favourite food."
point = 0

for x in sentence:
  if(x.lower() == 'a'):
    point += 10
  elif(x.lower() == 'b'):
    point += 5
  elif(x.lower() == 'c'):
    point += 3
  elif (x.lower() == "d" or x.lower()=='f'):
    point += 1

#'else' means anything other than a,b,c,d,f
print(point)

57

In [ ]:
students = ['Vinson','Alson','Iniya','Rita','Hari']

number = 1

for x in students:
  print(str(number)+ '. '+ x)
  number+=1

1. Vinson
2. Alson
3. Iniya
4. Rita
5. Hari

In [ ]:
#filtering odd & even

numbers = [23,54,1,5,12,65,25,34,4]

even = []
odd = []

for x in numbers:
  if x % 2 == 0:
    even.append(x)
  else:
    odd.append(x)

print("Even List : " + str(even))
print("Odd List : "+ str(odd))

Even List : [54, 12, 34, 4]
Odd List : [23, 1, 5, 65, 25]

In [ ]:
list1=[]

for x in range(100):
  if x % 2 == 0:
    list1.append(x)

print(list1)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [ ]:
#to determine odd, even numbers in increasing order

numbers = [23,54,1,5,12,65,25,34,4]

odd = sorted([x for x in numbers if x % 2 != 0])
even = sorted([x for x in numbers if x % 2 == 0])

print("Odd List", odd)
print("Even List", even)

Odd List [1, 5, 23, 25, 65]
Even List [4, 12, 34, 54]

In [ ]:
#to determine odd, even numbers in decreasing order

numbers = [23,54,1,5,12,65,25,34,4]

odd = sorted([x for x in numbers if x % 2 != 0], reverse=True)
even = sorted([x for x in numbers if x % 2 == 0], reverse=True)

print("Odd List", odd)
print("Even List", even)

Odd List [65, 25, 23, 5, 1]
Even List [54, 34, 12, 4]