In [ ]:
#Data Types
#Integers - Numbers without decimals
#String - Text variable = "text",'text'
#Float -Numbers with decimals

# **List** - a data type that can store a collection of different data types

In [ ]:
str1 = "Kalai"
str2 = "Zhi Jian"
str3 = "Razmin"
str4 = "Riza"
str5 ="Shaine"

print(str1)
print(str2)
print(str3)
print(str4)
print(str5)

Kalai
Zhi Jian
Razmin
Riza
Shaine

In [ ]:
# question: is there a way to store multiple data in 1 SINGLE VARIABLE

# Answer : YES, list

# one-dimensional list (1 row of data)

list1 = ['Kalai','Zhi Jian','Razmin','Riza','Shaine']

print(list1)

print(type(list1))

['Kalai', 'Zhi Jian', 'Razmin', 'Riza', 'Shaine']
<class 'list'>

In [ ]:
# In python, List and String are 2 data types that are called sequence

# just a recap....
str1 ="Jun Liang"

#string indexing  - accessing 1 letter in the string

print(str1[0]) # first letter
print(str1[-1])# last letter

J
g

In [ ]:
# you can also do indexing in list! (since they are both SEQEUENCE DATA TYPE)

list1 = ["Sharmendra","Amir","Jun","Jacinta"]

#List indexing - accesing 1 item of the list

print(list1[0])#First item
print(list1[-1])

Sharmendra
Jacinta