<a href="https://colab.research.google.com/github/sitiatiqa/python-lessons/blob/main/Lesson_7_Tuple_%26_Set_02082025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Tuple can't be CHANGED

In [ ]:
list1 = ['apples', 'banana', 'cherry']
list1.append('durian')
print(list1)

['apples', 'banana', 'cherry', 'durian']

In [ ]:
# what do we call a function that can be changed >> Mutable
# list we use []
# tuple we use ()

In [ ]:
Tuple = ('apples', 'banana', 'cherry')
print(Tuple)
print(type(Tuple))

('apples', 'banana', 'cherry')
<class 'tuple'>

In [ ]:
Tuple.append('durian') #Tuple is function that is Fixed

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
list2 = ['orange', 'banana', 'cherry']
list2[0] = 'rambutan'

In [ ]:
list2 = ['orange', 'banana', 'cherry']
list2[0] = 'rambutan'
print(list2)

['rambutan', 'banana', 'cherry']

In [ ]:
Tuple2 = ['orange', 'banana', 'cherry']
Tuple2[0] = 'rambutan'
print(Tuple2)

['rambutan', 'banana', 'cherry']

In [ ]:
#Set - are not ordered/sequenced, they are randomly shuffled, we use {}

In [ ]:
list3 = ['orange', 'banana', 'cherry']
print(list3[0])

orange

In [ ]:
Tuple3 = ['orange', 'banana', 'cherry']
print(Tuple3[0])

orange

In [ ]:
set1 = {'orange', 'banana', 'cherry'}
print(set1)

{'banana', 'orange', 'cherry'}

In [ ]:
set2 = set(list3)
print(set2)

{'banana', 'orange', 'cherry'}

In [ ]:
list4 = ['apple', 'banana', 'apple', 'cherry', 'banana', 'mango']
set4 = set(list4)
print(set4)  # set do not allow duplicates

{'banana', 'apple', 'mango', 'cherry'}

In [ ]:
# operation on set
set5 = {'a', 'b', 'c',3}
set6 = {1,2,3,'d'}

In [ ]:
# operation on set
set5 = {'a', 'b', 'c',3}
set6 = {1,2,3,'d'}
#union
union1 = set5.union(set6)
print(union1)

{1, 'c', 3, 'b', 2, 'd', 'a'}

In [ ]:
# intersection(), difference(), or symmetric_difference()

In [ ]:
inter = set5.intersection(set6) #finding common value

In [ ]:
set5 = {'a', 'b', 'c',3}
set6 = {1,2,3,'d','a'}
inter = set5.intersection(set6)
print(inter)

{3, 'a'}

In [ ]:
set1 = {'apple', 'banana', 'cherry'}
set1.add('durian')
print(set1)

{'banana', 'apple', 'durian', 'cherry'}

In [ ]:
# Exercise 1

fruits = {'apple','banana', 'orange'}
fruits.add('mango')
print(fruits)

{'banana', 'apple', 'mango', 'orange'}

In [ ]:
fruits.remove('banana')
print(fruits)

{'apple', 'mango', 'orange'}

In [ ]:
if 'apple' in fruits:
  print("Yes")
else:
  print("No")

Yes

In [ ]:
a = {1,2,3}
b = {3,4,5}
union1 = a.union(b)
print(union1)

{1, 2, 3, 4, 5}

In [ ]:
inter = a.intersection(b)
print(inter)

{3}

In [ ]:
colors = ('red', 'green','blue')
print(colors[0])
print(colors[-1])

red
blue

In [ ]:
print(len(colors))

3