The .apply() method

In [ ]:
import numpy as np
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/tips.csv')
df.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3.560330e+15,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4.478070e+15,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6.011810e+15,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4.676140e+15,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4.832730e+15,Sun2251

In [ ]:
df['CC Number']

0      3.560330e+15
1      4.478070e+15
2      6.011810e+15
3      4.676140e+15
4      4.832730e+15
           ...
239    5.296070e+15
240    3.506810e+15
241    6.011890e+15
242    4.375220e+12
243    3.511450e+15
Name: CC Number, Length: 244, dtype: float64

In [ ]:
df['CC Number'].dtype

dtype('float64')

In [ ]:
df['CC Number'] = df['CC Number'].astype(int)
df['CC Number']

0      3560330000000000
1      4478070000000000
2      6011810000000000
3      4676140000000000
4      4832730000000000
             ...
239    5296070000000000
240    3506810000000000
241    6011890000000000
242       4375220000000
243    3511450000000000
Name: CC Number, Length: 244, dtype: int64

In [ ]:
df['CC Number'].dtype

dtype('int64')

In [ ]:
# remove the extra zeros
def first_four(text):
    return str(text)[:4]

In [ ]:
str1 = first_four("6011890000000000")
print(str1)

6011

In [ ]:
df

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560330000000000,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478070000000000,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011810000000000,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676140000000000,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832730000000000,Sun2251
...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Michael Avila,5296070000000000,Sat2657
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,3506810000000000,Sat1766
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,6011890000000000,Sat3880
242,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,4375220000000,Sat17
243,18.78,3.00,Female,No,Thur,Dinner,2,9.39,Michelle Hardin,3511450000000000,Thur672

In [ ]:
df['First Four'] = df['CC Number'].apply(first_four)
df.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,First Four
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560330000000000,Sun2959,3560
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478070000000000,Sun4608,4478
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011810000000000,Sun4458,6011
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676140000000000,Sun5260,4676
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832730000000000,Sun2251,4832

In [ ]:
#example to get only first/last name
name = "Ryang Jong"
res = name.split(' ')
print(res)

['Ryang', 'Jong']

In [ ]:
name = "Ryang-Jong"
res = name.split('-')
print(res)

['Ryang', 'Jong']

In [ ]:
print(res[-1])

Jong

In [ ]:
print(res[0])

Ryang

In [ ]:
def last_name(name):
  return name.split(' ')[-1]

df['last Name'] = df['Payer Name'].apply(last_name)
df.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,First Four,last Name
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560330000000000,Sun2959,3560,Cunningham
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478070000000000,Sun4608,4478,Tucker
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011810000000000,Sun4458,6011,Walters
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676140000000000,Sun5260,4676,Harris
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832730000000000,Sun2251,4832,Carter

In [ ]:
df['Payer Name'] = df['Payer Name'].apply(last_name)
df.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,First Four,last Name
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Cunningham,3560330000000000,Sun2959,3560,Cunningham
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Tucker,4478070000000000,Sun4608,4478,Tucker
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Walters,6011810000000000,Sun4458,6011,Walters
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Harris,4676140000000000,Sun5260,4676,Harris
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Carter,4832730000000000,Sun2251,4832,Carter

In [ ]:
# Exercise 1

#create column called 'after_tax' which implements 10% service tax based on the 'total_bill'
#round to 2 decimal places using np.round()

df['after_tax'] = np.round(df['total_bill'] * 0.9, 2)
df.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,First Four,last Name,after_tax
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Cunningham,3560330000000000,Sun2959,3560,Cunningham,15.29
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Tucker,4478070000000000,Sun4608,4478,Tucker,9.31
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Walters,6011810000000000,Sun4458,6011,Walters,18.91
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Harris,4676140000000000,Sun5260,4676,Harris,21.31
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Carter,4832730000000000,Sun2251,4832,Carter,22.13

In [ ]:
# Exercise 2

#create a new column called 'free_drinks'
#weekends --> true
#weekdays --> false

#df['free_drinks'] = df['day'].apply(lambda day: day in ['Sat', 'Sun'])
#df

def free_drinks(day):
  return day in ['Sat', 'Sun']

df['free_drinks'] = df['day'].apply(free_drinks)
df

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,First Four,last Name,after_tax,free_drinks
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Cunningham,3560330000000000,Sun2959,3560,Cunningham,15.29,True
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Tucker,4478070000000000,Sun4608,4478,Tucker,9.31,True
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Walters,6011810000000000,Sun4458,6011,Walters,18.91,True
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Harris,4676140000000000,Sun5260,4676,Harris,21.31,True
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Carter,4832730000000000,Sun2251,4832,Carter,22.13,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Avila,5296070000000000,Sat2657,5296,Avila,26.13,True
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Sanders,3506810000000000,Sat1766,3506,Sanders,24.46,True
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Wong,6011890000000000,Sat3880,6011,Wong,20.40,True
242,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dixon,4375220000000,Sat17,4375,Dixon,16.04,True
243,18.78,3.00,Female,No,Thur,Dinner,2,9.39,Hardin,3511450000000000,Thur672,3511,Hardin,16.90,False

In [ ]:
# Exercise 3

#create a new column called 'Masked CC'
#use apply to mask all but the last four digits of the CC number column(eg: *******0000)

#df['Masked CC'] = df['CC Number'].apply(lambda num: str(num)[:-4] + '*' * 4)

def mask_cc(num):
  num_str = str(num)
  return '*' * (len(num_str) - 4) + num_str[-4:]

df['Masked CC'] = df['CC Number'].apply(mask_cc)
df.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,First Four,last Name,after_tax,free_drinks,Masked CC
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Cunningham,3560330000000000,Sun2959,3560,Cunningham,15.29,True,************0000
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Tucker,4478070000000000,Sun4608,4478,Tucker,9.31,True,************0000
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Walters,6011810000000000,Sun4458,6011,Walters,18.91,True,************0000
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Harris,4676140000000000,Sun5260,4676,Harris,21.31,True,************0000
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Carter,4832730000000000,Sun2251,4832,Carter,22.13,True,************0000

Apply with Lambda

In [ ]:
def simple(num):
  return num + 2
df['Plus Two'] = df['total_bill'].apply(simple)
df

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,First Four,last Name,after_tax,free_drinks,Masked CC,Plus Two
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Cunningham,3560330000000000,Sun2959,3560,Cunningham,15.29,True,************0000,18.99
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Tucker,4478070000000000,Sun4608,4478,Tucker,9.31,True,************0000,12.34
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Walters,6011810000000000,Sun4458,6011,Walters,18.91,True,************0000,23.01
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Harris,4676140000000000,Sun5260,4676,Harris,21.31,True,************0000,25.68
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Carter,4832730000000000,Sun2251,4832,Carter,22.13,True,************0000,26.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Avila,5296070000000000,Sat2657,5296,Avila,26.13,True,************0000,31.03
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Sanders,3506810000000000,Sat1766,3506,Sanders,24.46,True,************0000,29.18
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Wong,6011890000000000,Sat3880,6011,Wong,20.40,True,************0000,24.67
242,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dixon,4375220000000,Sat17,4375,Dixon,16.04,True,*********0000,19.82
243,18.78,3.00,Female,No,Thur,Dinner,2,9.39,Hardin,3511450000000000,Thur672,3511,Hardin,16.90,False,************0000,20.78

In [ ]:
df.drop('Plus Two', axis=1)

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,First Four,last Name,after_tax,free_drinks,Masked CC
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Cunningham,3560330000000000,Sun2959,3560,Cunningham,15.29,True,************0000
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Tucker,4478070000000000,Sun4608,4478,Tucker,9.31,True,************0000
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Walters,6011810000000000,Sun4458,6011,Walters,18.91,True,************0000
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Harris,4676140000000000,Sun5260,4676,Harris,21.31,True,************0000
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Carter,4832730000000000,Sun2251,4832,Carter,22.13,True,************0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Avila,5296070000000000,Sat2657,5296,Avila,26.13,True,************0000
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Sanders,3506810000000000,Sat1766,3506,Sanders,24.46,True,************0000
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Wong,6011890000000000,Sat3880,6011,Wong,20.40,True,************0000
242,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dixon,4375220000000,Sat17,4375,Dixon,16.04,True,*********0000
243,18.78,3.00,Female,No,Thur,Dinner,2,9.39,Hardin,3511450000000000,Thur672,3511,Hardin,16.90,False,************0000

In [ ]:
df['Plus Two'] = df['total_bill'].apply(lambda bill: bill + 2)
df

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,First Four,last Name,after_tax,free_drinks,Masked CC,Plus Two
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Cunningham,3560330000000000,Sun2959,3560,Cunningham,15.29,True,************0000,18.99
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Tucker,4478070000000000,Sun4608,4478,Tucker,9.31,True,************0000,12.34
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Walters,6011810000000000,Sun4458,6011,Walters,18.91,True,************0000,23.01
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Harris,4676140000000000,Sun5260,4676,Harris,21.31,True,************0000,25.68
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Carter,4832730000000000,Sun2251,4832,Carter,22.13,True,************0000,26.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Avila,5296070000000000,Sat2657,5296,Avila,26.13,True,************0000,31.03
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Sanders,3506810000000000,Sat1766,3506,Sanders,24.46,True,************0000,29.18
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Wong,6011890000000000,Sat3880,6011,Wong,20.40,True,************0000,24.67
242,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dixon,4375220000000,Sat17,4375,Dixon,16.04,True,*********0000,19.82
243,18.78,3.00,Female,No,Thur,Dinner,2,9.39,Hardin,3511450000000000,Thur672,3511,Hardin,16.90,False,************0000,20.78

In [ ]:
def simple(bill):
  return bill + 2
df['Plus Two'] = df['total_bill'].apply(simple)
df

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,First Four,last Name,after_tax,free_drinks,Masked CC,Plus Two
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Cunningham,3560330000000000,Sun2959,3560,Cunningham,15.29,True,************0000,18.99
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Tucker,4478070000000000,Sun4608,4478,Tucker,9.31,True,************0000,12.34
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Walters,6011810000000000,Sun4458,6011,Walters,18.91,True,************0000,23.01
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Harris,4676140000000000,Sun5260,4676,Harris,21.31,True,************0000,25.68
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Carter,4832730000000000,Sun2251,4832,Carter,22.13,True,************0000,26.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Avila,5296070000000000,Sat2657,5296,Avila,26.13,True,************0000,31.03
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Sanders,3506810000000000,Sat1766,3506,Sanders,24.46,True,************0000,29.18
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Wong,6011890000000000,Sat3880,6011,Wong,20.40,True,************0000,24.67
242,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dixon,4375220000000,Sat17,4375,Dixon,16.04,True,*********0000,19.82
243,18.78,3.00,Female,No,Thur,Dinner,2,9.39,Hardin,3511450000000000,Thur672,3511,Hardin,16.90,False,************0000,20.78

Apply() that use multiple columns

In [ ]:
df.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,First Four,last Name,after_tax,free_drinks,Masked CC,Plus Two
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Cunningham,3560330000000000,Sun2959,3560,Cunningham,15.29,True,************0000,18.99
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Tucker,4478070000000000,Sun4608,4478,Tucker,9.31,True,************0000,12.34
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Walters,6011810000000000,Sun4458,6011,Walters,18.91,True,************0000,23.01
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Harris,4676140000000000,Sun5260,4676,Harris,21.31,True,************0000,25.68
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Carter,4832730000000000,Sun2251,4832,Carter,22.13,True,************0000,26.59

In [ ]:
bill_1 = df['total_bill'][0]
tip_1 = df['tip'][0]
tip_quality = tip_1/bill_1
print(tip_quality)

0.05944673337257211

In [ ]:
def quality(total_bill,tip):
  if (tip/total_bill) > 0.25:
    return 'Generous'
  else:
    return 'OK'

In [ ]:
quality(25,4.5)

'OK'

In [ ]:
quality(25,8)

'Generous'

In [ ]:
#using lambda

#Version 1

df['Tip Quality'] = df[['total_bill', 'tip']].apply(lambda df: quality(df['total_bill'], df['tip']), axis = 1)

In [ ]:
#Version 2

def quality(df):
  return df['total_bill']/df['tip']

df['Tip Quality'] = np.round(df.apply(quality, axis = 1), 2)
df.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,First Four,last Name,after_tax,free_drinks,Masked CC,Plus Two,Tip Quality
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Cunningham,3560330000000000,Sun2959,3560,Cunningham,15.29,True,************0000,18.99,16.82
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Tucker,4478070000000000,Sun4608,4478,Tucker,9.31,True,************0000,12.34,6.23
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Walters,6011810000000000,Sun4458,6011,Walters,18.91,True,************0000,23.01,6.00
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Harris,4676140000000000,Sun5260,4676,Harris,21.31,True,************0000,25.68,7.15
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Carter,4832730000000000,Sun2251,4832,Carter,22.13,True,************0000,26.59,6.81

In [ ]:
# Exercise 1

# Create a new column "Customer Type":

# If total_bill is above $30 and tip is above 20% of total_bill, label as "Premium".
# Otherwise, label as "Regular".

def customer_type(total_bill,tip):
  if total_bill > 30 and (tip/total_bill) > 0.20:
    return 'Premium'
  else:
    return 'Regular'
df['Customer Type'] = df.apply(lambda row: customer_type(row['total_bill'], row['tip']), axis = 1)
df.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,First Four,last Name,after_tax,free_drinks,Masked CC,Plus Two,Tip Quality,Customer Type
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Cunningham,3560330000000000,Sun2959,3560,Cunningham,15.29,True,************0000,18.99,16.82,Regular
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Tucker,4478070000000000,Sun4608,4478,Tucker,9.31,True,************0000,12.34,6.23,Regular
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Walters,6011810000000000,Sun4458,6011,Walters,18.91,True,************0000,23.01,6.00,Regular
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Harris,4676140000000000,Sun5260,4676,Harris,21.31,True,************0000,25.68,7.15,Regular
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Carter,4832730000000000,Sun2251,4832,Carter,22.13,True,************0000,26.59,6.81,Regular

In [ ]:
# Exercise 2

# Create a new column "Total Paid" as total_bill + tip

df['Total Paid'] = df['total_bill'] + df['tip']
df.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,First Four,last Name,after_tax,free_drinks,Masked CC,Plus Two,Tip Quality,Customer Type,Total Paid
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Cunningham,3560330000000000,Sun2959,3560,Cunningham,15.29,True,************0000,18.99,16.82,Regular,18.00
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Tucker,4478070000000000,Sun4608,4478,Tucker,9.31,True,************0000,12.34,6.23,Regular,12.00
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Walters,6011810000000000,Sun4458,6011,Walters,18.91,True,************0000,23.01,6.00,Regular,24.51
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Harris,4676140000000000,Sun5260,4676,Harris,21.31,True,************0000,25.68,7.15,Regular,26.99
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Carter,4832730000000000,Sun2251,4832,Carter,22.13,True,************0000,26.59,6.81,Regular,28.20

In [ ]:
# Exercise 3

# Create a new column "Big Tipper":
# If size (number of people) is greater than 4 and tip is greater than 15% of total_bill, return "Yes"; otherwise, "No".

def big_tipper(total_bill,tip,size):
  if size > 4 and (tip/total_bill) > 0.15:
    return 'Yes'
  else:
    return 'No'

df['Big Tipper'] = df.apply(lambda row: big_tipper(row['total_bill'], row['tip'], row['size']), axis = 1)
df.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,...,First Four,last Name,after_tax,free_drinks,Masked CC,Plus Two,Tip Quality,Customer Type,Total Paid,Big Tipper
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Cunningham,3560330000000000,...,3560,Cunningham,15.29,True,************0000,18.99,16.82,Regular,18.00,No
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Tucker,4478070000000000,...,4478,Tucker,9.31,True,************0000,12.34,6.23,Regular,12.00,No
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Walters,6011810000000000,...,6011,Walters,18.91,True,************0000,23.01,6.00,Regular,24.51,No
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Harris,4676140000000000,...,4676,Harris,21.31,True,************0000,25.68,7.15,Regular,26.99,No
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Carter,4832730000000000,...,4832,Carter,22.13,True,************0000,26.59,6.81,Regular,28.20,No