###We have learned that `numpy` is a Python library that is basically `a list with extra functionality`.

###`Pandas` is actually built on top of `Numpy array`.

###In Pandas, we can further split it into 2:
*   Pandas `Series`
*   Pandas `Dataframe`

---
##Pandas Series

*   Pandas Series --> Numpy Array `with index`

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# An example of python list

list1 = [23,34,45,56] # normal python list
print(list1)
print(type(list1))

[23, 34, 45, 56]
<class 'list'>

In [ ]:
# An example of numpy array

array1 = np.array(["apple","banana","cherry"]) # changing normal python list --> numpy array
print(array1)
print(type(array1))

['apple' 'banana' 'cherry']
<class 'numpy.ndarray'>

In [ ]:
series1 = pd.Series(["apple","banana","cherry"])# changing normal python list --> pandas series
print(series1)# An example of pandas series --> Numpy Array with index
print(type(series1))

0     apple
1    banana
2    cherry
dtype: object
<class 'pandas.core.series.Series'>

In [ ]:
#converting a python list --> pandas series
ser1  = pd.Series(["Jun","Annisah","Mariam","Qaisy",'Lily'])
print(ser1)

0        Jun
1    Annisah
2     Mariam
3      Qaisy
4       Lily
dtype: object

In [ ]:
#converting a python list --> numpy array
arr1 = np.array(["Jun","Annisah","Mariam","Qaisy",'Lily'])

#converting a numpy array --> pandas series
ser2 = pd.Series(arr1)
print(ser2)
print(type(ser2))

0        Jun
1    Annisah
2     Mariam
3      Qaisy
4       Lily
dtype: object
<class 'pandas.core.series.Series'>

In [ ]:
# the default index is from 0 - n

# can i have my own custom index?

myData = [1776,1867,1821]
myIndex = ['USA','Canada','Mexico']

ser1 = pd.Series(myData)# 1st way of creating pandas series - default label
print(ser1)

0    1776
1    1867
2    1821
dtype: int64

In [ ]:
# 2nd way of creating pandas series - custom INDEX

ser2 = pd.Series(data=myData,index=myIndex)
print(ser2)

#Note when you are seting index, you length of data and lenght of the index needs to be same.

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [ ]:
#converting a python dictionary --> pandas series

#key/value pairs

dict1 = {
    'apple':7.99,
    'banana':2.99,
    'cherry':4.49
}
# keys -->  custom index
# values --> data
ser3 = pd.Series(dict1)

print(ser3)

apple     7.99
banana    2.99
cherry    4.49
dtype: float64

In [ ]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {
    'Japan': 80,
    'China': 450,
    'India': 200,
    'USA': 250
}

q2 = {
    'Brazil': 100,
    'China': 500,
    'India': 210,
    'USA': 260
}

In [ ]:
# Changing q1 dictionary --> ser1 pandas Series
ser1 = pd.Series(q1)
print(ser1)

Japan     80
China    450
India    200
USA      250
dtype: int64

In [ ]:
# Changing q2 dictionary --> ser2 pandas Series
ser2 = pd.Series(q2)
print(ser2)

Brazil    100
China     500
India     210
USA       260
dtype: int64

##Pandas Series Indexing (Accesing 1 item)

In [ ]:
# 2 ways to access the data in a Series

# 1st way: Named Index
print(ser1['China'])

#2nd way : Integer Index
print(ser1[1])

#3rd way is to use .iloc[]--> index location
print(ser1.iloc[1])

450
450
450

/tmp/ipython-input-2215316123.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(ser1[1])

## Pandas Series Operations

In [ ]:
print(ser1/100)#broadcasting concept is applied

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

#Between Pandas Series

In [ ]:
print(ser1 + ser2)

# NaN --> not a number

# why NaN on Brazil and Japan?

# this is because in ser1, brazil is missing & ser2, japan is missing


# in data analysis, when something doesnt have a value, IT DOESNT MEAN IT IS 0! IT MEANS IT IS MISSING

# Basic understanding is that:
# NaN + 5 --> NaN

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [ ]:
# questions is, if it is missing (brazil/japan),
#We can set a default value of zero in the missing column

# NaN + 5 --> NaN
# 0 + 5 --> 5

# .add() will need 2 inputs

# 1st input --> pandas series u want to add with
# 2nd input --> fill_value (default value IF MISSING)

ser1.add(ser2,fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64