<a href="https://colab.research.google.com/github/sitiatiqa/python-lessons/blob/main/Lesson_5_Typecasting_%26_input()_26072025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Data Types
#Integers - Numbers without decimals
#String - Text variable = "text",'text'
#Float -Numbers with decimals
#List
#Tuples
#Sets
#Dictionary
#Boolean-True and False
#Logics
#If-Else Statement
#For Loops
#Functions

In [ ]:
# just to recap string concatenation

name = "Jun"#String
hobby = "achery"#String

print("My name is "+ name + " and I love "+hobby)
#this is more than fine

My name is Jun and I love achery

In [ ]:
name = "Jun"#String
age = 23 #Integer

print("My name is " + name + "and my age is " + age)

#TypeError -> Specific to data type related errors
#Syntax Error -> Specific to violating the rule of coding

TypeError: can only concatenate str (not "int") to str

In [ ]:
variable = "Text

SyntaxError: unterminated string literal (detected at line 1) (ipython-input-4-2022160511.py, line 1)

#TypeError is related to datatypes.

`How do i solve the problem where the interger and strings are mixed togather?`

# Typecasting

- `converting 1 data type to another data type`

In [ ]:
name = "Jun"#String
age = 23 #Integer

print("My name is " + name + "and my age is " + str(age))

My name is Junand my age is 23

In [ ]:
#String-> Integer : int()
#Integer -> String : str()
#String -> Integer : int()-> String must me numerical string
#Integer -> Float : float()
#Float -> Integer : int()

In [ ]:
str1 = "9"#Numerical String
str2 = "10"#Numerical String

print(str1+str2)# combine strings
print(int(str1)+int(str2))# typecasting str --> int, then adding them

910
19

In [ ]:
# typecasting from float --> int

num1 = 9.9

print(int(num1))
# when doing typecasting from float --> int, it will always round down

9

In [ ]:
num1 = 9.9
num2 = 2.99

print(num1+num2)

print(int(num1)+int(num2))

12.89
11

In [ ]:
number = 2.7549837598347598739

round(number,2)

2.75

In [ ]:
# strings can be further classified into 2

# (i)  numeric strings     --> "10", "23", "-100", "-2.2"

#Note : Only a numerical string you can convert from a string to float

# (ii) non-numeric strings --> "Jun123", "CodeRangers"

int("Jun123")

ValueError: invalid literal for int() with base 10: 'Jun123'

In [ ]:
# You can only typecast on numeric strings into (int/float)

print(int("-10"))
print(type(int("-10")))

-10
<class 'int'>

In [ ]:
print(int("12"))
print(type(int("12")))

12
<class 'int'>

In [ ]:
print(float("5.5"))
print(type(float("5.5")))

5.5
<class 'float'>

In [ ]:
print(float("-45.5"))
print(type(float("-45.5")))

-45.5
<class 'float'>

# Input()

- `accepting user input`

In [ ]:
name = input("Enter your name:")

# the input() command is ASYNCHRONOUS (needs to wait for input BEFORE the below line(s) are run)

print("Hello " + name + ". Welcome to the program!")

Enter your name:Jun
Hello Jun. Welcome to the program!

In [ ]:
#ACTUAL CONCLUSION: by default, the input() gives you string data type
# whatever u enter inside the input (even numbers) is a string

num1 = input("Enter the first number: ")
num2 = input("Enter the second number: ")

total = num1 + num2


print("The addition between " + num1 + " and " + num2 + " is "+total)

Enter the first number: 10
Enter the second number: 10
The addition between 10 and 10 is 1010

In [ ]:
# let's confirm that conclusion

num1 = input("Enter the first number: ")
num2 = input("Enter the second number: ")

print(type(num1))
print(type(num2))

Enter the first number: 10
Enter the second number: 10
<class 'str'>
<class 'str'>

In [ ]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number:"))

total = num1 + num2#now,  the "+" in this case is ADDTION

print("The addition between " + str(num1) + " and " + str(num2) + " is " + str(total) + ".")

Enter the first number: 10
Enter the second number:10
The addition between 10 and 10 is 20.

In [ ]:
# there are actually few ways to concatenate in python

# (i)   "+"
# (ii)  ","
# (iii) f strings (formatted string)

name = "Jun"
age = 23

# (i)   "+"
print("Hi my name is "+ name + "." + "My age is " + str(age)+".")

# (ii)  ","
print("Hi my name is ", name, " and I am ", age , "years old.")# with "," you dont need to typecast and manually add spaces

# (iii) f strings (formatted string)

print(f"Hi i am {name} and i am {age} years old.")# with "f strings" you dont need to typecast


# however, it is still advisable for beginners to use "+" for learning typecasting concept purposes