<a href="https://colab.research.google.com/github/sitiatiqa/python-lessons/blob/main/Lesson_25_Pandas_Time_Methods__14122025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from datetime import datetime

In [ ]:
my_year = 2017
my_month = 1
my_day = 2
my_hour = 13
my_minute = 30
my_second = 15

In [ ]:
my_date = datetime(my_year,my_month,my_day)
print(my_date)

2017-01-02 00:00:00

In [ ]:
my_date_time = datetime(my_year,my_month,my_day,my_hour,my_minute,my_second)
print(my_date_time)

2017-01-02 13:30:15

In [ ]:
print(my_date.day)

2

In [ ]:
print(my_date_time.hour)

13

Pandas Series converting datetime with pd.to_datetime

In [ ]:
import pandas as pd

In [ ]:
myser = pd.Series(['Nov 3, 2000','2000-01-01', None ])
myser

0    Nov 3, 2000
1     2000-01-01
2           None
dtype: object

In [ ]:
myser = pd.to_datetime(myser, format = 'mixed')
myser

0   2000-11-03
1   2000-01-01
2          NaT
dtype: datetime64[ns]

In [ ]:
pd.to_datetime('10-12-2000')

Timestamp('2000-10-12 00:00:00')

In [ ]:
pd.to_datetime('10-12-2000',dayfirst = True)

Timestamp('2000-12-10 00:00:00')

In [ ]:
style = '12--Dec--2000'
pd.to_datetime(style,format = '%d--%b--%Y')

Timestamp('2000-12-12 00:00:00')

In [ ]:
sales = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/RetailSales_BeerWineLiquor (2).csv')
sales

           DATE  MRTSSM4453USN
0    1992-01-01           1509
1    1992-02-01           1541
2    1992-03-01           1597
3    1992-04-01           1675
4    1992-05-01           1822
..          ...            ...
335  2019-12-01           6630
336  2020-01-01           4388
337  2020-02-01           4533
338  2020-03-01           5562
339  2020-04-01           5207

[340 rows x 2 columns]

In [ ]:
sales.iloc[0]['DATE']

'1992-01-01'

In [ ]:
sales['DATE'] = pd.to_datetime(sales['DATE'])
sales

          DATE  MRTSSM4453USN
0   1992-01-01           1509
1   1992-02-01           1541
2   1992-03-01           1597
3   1992-04-01           1675
4   1992-05-01           1822
..         ...            ...
335 2019-12-01           6630
336 2020-01-01           4388
337 2020-02-01           4533
338 2020-03-01           5562
339 2020-04-01           5207

[340 rows x 2 columns]

dt method

In [ ]:
sales['MONTH'] = sales['DATE'].dt.month
sales

          DATE  MRTSSM4453USN  MONTH
0   1992-01-01           1509      1
1   1992-02-01           1541      2
2   1992-03-01           1597      3
3   1992-04-01           1675      4
4   1992-05-01           1822      5
..         ...            ...    ...
335 2019-12-01           6630     12
336 2020-01-01           4388      1
337 2020-02-01           4533      2
338 2020-03-01           5562      3
339 2020-04-01           5207      4

[340 rows x 3 columns]

In [ ]:
sales['IsLeapYear'] = sales['DATE'].dt.is_leap_year
sales

          DATE  MRTSSM4453USN  MONTH  IsLeapYear
0   1992-01-01           1509      1        True
1   1992-02-01           1541      2        True
2   1992-03-01           1597      3        True
3   1992-04-01           1675      4        True
4   1992-05-01           1822      5        True
..         ...            ...    ...         ...
335 2019-12-01           6630     12       False
336 2020-01-01           4388      1        True
337 2020-02-01           4533      2        True
338 2020-03-01           5562      3        True
339 2020-04-01           5207      4        True

[340 rows x 4 columns]

In [ ]:
sales['DATE'].dt.day_name()

0      Wednesday
1       Saturday
2         Sunday
3      Wednesday
4         Friday
         ...
335       Sunday
336    Wednesday
337     Saturday
338       Sunday
339    Wednesday
Name: DATE, Length: 340, dtype: object

In [ ]:
sales['DATE'].dt.month_name()

0       January
1      February
2         March
3         April
4           May
         ...
335    December
336     January
337    February
338       March
339       April
Name: DATE, Length: 340, dtype: object

Date Range

In [ ]:
pd.date_range(start='13/4/2022', end='5/5/2022')

DatetimeIndex(['2022-04-13', '2022-04-14', '2022-04-15', '2022-04-16',
               '2022-04-17', '2022-04-18', '2022-04-19', '2022-04-20',
               '2022-04-21', '2022-04-22', '2022-04-23', '2022-04-24',
               '2022-04-25', '2022-04-26', '2022-04-27', '2022-04-28',
               '2022-04-29', '2022-04-30', '2022-05-01', '2022-05-02',
               '2022-05-03', '2022-05-04', '2022-05-05'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
pd.date_range(start = datetime.today(), periods = 10, freq = 'T')

/tmp/ipython-input-1433328871.py:1: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  pd.date_range(start = datetime.today(), periods = 10, freq = 'T')

DatetimeIndex(['2025-12-19 05:15:38.336666', '2025-12-19 05:16:38.336666',
               '2025-12-19 05:17:38.336666', '2025-12-19 05:18:38.336666',
               '2025-12-19 05:19:38.336666', '2025-12-19 05:20:38.336666',
               '2025-12-19 05:21:38.336666', '2025-12-19 05:22:38.336666',
               '2025-12-19 05:23:38.336666', '2025-12-19 05:24:38.336666'],
              dtype='datetime64[ns]', freq='min')

In [ ]:
pd.date_range(start = datetime.today(), periods = 10, freq = 'D')

DatetimeIndex(['2025-12-19 05:16:08.375754', '2025-12-20 05:16:08.375754',
               '2025-12-21 05:16:08.375754', '2025-12-22 05:16:08.375754',
               '2025-12-23 05:16:08.375754', '2025-12-24 05:16:08.375754',
               '2025-12-25 05:16:08.375754', '2025-12-26 05:16:08.375754',
               '2025-12-27 05:16:08.375754', '2025-12-28 05:16:08.375754'],
              dtype='datetime64[ns]', freq='D')

Rounding Date

In [ ]:
ser1 = pd.Series(['2012-12-31 08:45', '2019-1-1 12:30', '2008-02-2 10:30',
               '2010-1-1 09:25', '2019-12-31 00:00'])
custom_idx = ['Day 1', 'Day 2', 'Day 3', 'Day 4', 'Day 5']
ser1.index = custom_idx
ser1

Day 1    2012-12-31 08:45
Day 2      2019-1-1 12:30
Day 3     2008-02-2 10:30
Day 4      2010-1-1 09:25
Day 5    2019-12-31 00:00
dtype: object

In [ ]:
ser1 = pd.to_datetime(ser1)

In [ ]:
ser1.dt.round(freq = 'D')

Day 1   2012-12-31
Day 2   2019-01-02
Day 3   2008-02-02
Day 4   2010-01-01
Day 5   2019-12-31
dtype: datetime64[ns]

In [ ]:
ser1.dt.round(freq = 'H')

/tmp/ipython-input-874635634.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  ser1.dt.round(freq = 'H')

Day 1   2012-12-31 09:00:00
Day 2   2019-01-01 12:00:00
Day 3   2008-02-02 10:00:00
Day 4   2010-01-01 09:00:00
Day 5   2019-12-31 00:00:00
dtype: datetime64[ns]

In [ ]:
now = pd.Timestamp.now()
now

Timestamp('2025-12-19 05:18:55.818884')

In [ ]:
then = pd.Timestamp('2021-09-15')
then

Timestamp('2021-09-15 00:00:00')

In [ ]:
dif = now-then
print(dif)

1556 days 05:18:55.818884

In [ ]:
now = pd.Timestamp.now()

In [ ]:
print(now + pd.Timedelta(days = 1))

2025-12-20 05:20:56.606286

In [ ]:
# Creating timedelta objects

delta_pd1 = pd.Timedelta(days=5)
delta_pd2 = pd.Timedelta(days=1, hours=3, minutes=30)
# Addition
result_pd1 = delta_pd1 + delta_pd2
# Subtraction
result_pd2 = delta_pd1 - delta_pd2
# Comparison
result_pd3 = delta_pd1 == delta_pd2

print(result_pd1)
print(result_pd2)
print(result_pd3)

6 days 03:30:00
3 days 20:30:00
False