In [ ]:
# problem statement

num1 = 5
num2 = 15
print(num1 + num2)

num3 = 12
num4 = 2
print(num3 + num4)

num5 = 14
num6 =4
print(num5 + num6)

# problem: we are DUPLICATING THE LOGIC of (...  + ...)

20
14
18

# 1.1 Function Basics

In [ ]:
# function --> a box to store code that you can reuse with different inputs
# u can RESUSE THIS BOX
# so u dont need to duplicate the logic

# let's break down the following code:
# (i) 'def' keyword --> define a function
# (ii) 'addition'   --> function's name (customize)
# (iii) (num1,num2) --> function inputs

# step 1: create the box/function
def addition(num1,num2):
  print(num1+num2)# we only created the logic once!

#Step 2 : Use/Reuse box/function
addition(15,5)
addition(12,2)
addition(14,4)

20
14
18

In [ ]:
# variable --> a box to store 1 value (string, boolean, list...)
# function --> a box to store MULTIPLE LINES OF CODE / Logic, so u can reuse it

In [ ]:
#Get 3 input from the user

def addition_v2(n1,n2,n3):
  print(n1+n2+n3)

addition_v2(232,4312,45)
addition_v2(45,76,2)

4589
123

In [ ]:
#When we create a function, we know we need to put in 3 input sometimes getting input from users is dynamic, they can put in any value .
#The write way to write a function is it need to be error prove

addition_v2(32,42)#32+42+null---> Crash

# this will give us error because the "addition_v2" function expects 3 INPUTS

# however, this is troublesome because if sometimes we want 3 inputs and sometimes we need 2 inputs,
# we have to create 2 different functions

TypeError: addition_v2() missing 1 required positional argument: 'n3'

## 1.2 Default Inputs (Parameters)

In [ ]:
#To solve dynamic input issues, we set a default values for the inputs.

def addition_v3(n1,n2,n3=0):
  print(n1+n2+n3)

addition_v3(1,2)# 2 inputs -->  1 + 2 + 0 (default)
addition_v3(1,2,3)#If you have a value , it will overide the default value

3
6

In [ ]:
def addition_v4(n1=0,n2=0,n3=0):
  print(n1+n2+n3)

In [ ]:
addition_v4(1,2,3) # n1 = 1, n2 = 2 , n3 = 3
addition_v4(1,2) # n1 = 1, n2 = 2, n3 = 0 (DEFAULT)
addition_v4(1)  # n1 = 1, n2 = 0 (DEFAULT), n3 = 0 (DEFAULT)
addition_v4() # n1 = 0 (DEFAULT), n2 = 0 (DEFAULT), n3 = 0 (DEFAULT)

#This is to prevent crash

6
3
1
0

##1.3 Print vs Return

In [ ]:
def multiply(n1,n2):
  print(n1*n2)#The primary function of print is to print the output n1*n2

In [ ]:
result = multiply(100,10)#It prints the value "1000" but it does not store the value because print function is to print out the output
print(result)#Print none, because "1000" wasnt stored in variable 'result' in the previous line

1000
None

In [ ]:
# "return" keyword in function
# when u are using the function, you can choose to store the output in a variable --> return
# Suggestion , when you create a function , by default set it to return rather than print
# To prevent confusion

def multiply(n1,n2):
  return(n1*n2)

result = multiply(2,7) # doesn't print anything because "return" keyword, BUT STORES the value "14" inside the variable 'result'
print('----')
print(result) # prints '14' because '14' was stored in variable 'result' successfully in the previous line due to "return" keyword

----
14

## 1.4 Function Examples

---
### Example 1

In [ ]:
# example 1

# greeting function
# in this function, u will accept 1 input "name" and display a greeting message
#Option 1
def greeting(name):
  return f"Hello {name}.Welcome to datasciece course."\
         f"Hope you enjoy your class here, {name}."

In [ ]:
#Option 2 :If you are printing a simple statement just use print
def greeting(name):
  print(f'Hello {name}. Welcome to the Data Science Course.')
  print(f'Hope you enjoy your stay here, {name}!')
  print('-' * 50)

In [ ]:
greeting("Yun")

Hello Yun. Welcome to the Data Science Course.
Hope you enjoy your stay here, Yun!
--------------------------------------------------

In [ ]:
greeting("Jun")

Hello Jun. Welcome to the Data Science Course.
Hope you enjoy your stay here, Jun!
--------------------------------------------------

In [ ]:
greeting("Siti")

Hello Siti. Welcome to the Data Science Course.
Hope you enjoy your stay here, Siti!
--------------------------------------------------

In [ ]:
input1 = input("Please provide your name.")

greeting(input1)

Please provide your name.Siti
Hello Siti. Welcome to the Data Science Course.
Hope you enjoy your stay here, Siti!
--------------------------------------------------

---
### Example 2

In [ ]:
def minus(num1,num2):
  return(num1-num2)

minus(6,2)

minus(5,10)

# the above function is fine. it takes 2 inputs and the logic is that (num1-num2)
#Consept of substraction num1: Bigger Value - num2:Smaller Value
#We can error prove this function to always use the big number to minus the smaller number.

#if/else statement
#if(num1>num2)-> return(num1 - num2)
#if(num2>num1)-> return(num2 - num1)

-5

In [ ]:
def minus(num1,num2):
  if(num1>num2):
    return(num1-num2)
  elif(num2>num1):
    return(num2-num1)

In [ ]:
minus(8,10)

2

In [ ]:
minus(10,5)

5

In [ ]:
minus(10,100)

90

---
### Example 3

In [ ]:
#Create a function called "Last Letter"

# input a string and it will print the last alphabet

# Example "I am Siti"--> "i"

def lastLetter(sentence):
  return(sentence[-1])

lastLetter("I am Jun")

'i'

In [ ]:

lastLetter("Siti")

'i'

In [ ]:
lastLetter("This apple is delicious")

's'

---
### Example 4

In [ ]:
# create a function called "first4" that takes in 1 input (string) and extracts the first 4 letters of the string

def first4(x):
  return(x[0:4])

print(first4("Hello there"))
print(first4("Alexaner the great"))

Hell
Alex

In [ ]:
first4(8095804938)#let's say we want to extract the first 4 digits of a credit card
#It shows error-> Why????
#Because it is not a string -> Why if its not a string you are unable to slice it ?
#You cant slice an interger

TypeError: 'int' object is not subscriptable

In [ ]:
# we know that we cant do slicing on numbers

num1 = 2830238023

print(num1[0:4])

TypeError: 'int' object is not subscriptable

In [ ]:
#To solve this, regardless what input i receive , i make it typecast to sting , even if a string value is provided
def first4(x):
  x = str(x)
  return(x[0:4])

In [ ]:
first4(23180380210)

'2318'

In [ ]:
first4(989432)

'9894'

In [ ]:
first4(1)# even if the length is < 4

'1'

In [ ]:
first4("Hello Paul")

'Hell'

In [ ]:
first4("Your mom is angry")

'Your'

In [ ]:
# it works perfectly! what if we input a list?

first4(["Hello",100,0.99,True,"John Terry"])

# it will give us  --> ['He  --> because we typecasted into a str first before slicing

#what if for list input, i want the first 4 items, like: --> ["Hello",100,0.99,True]

"['He"

In [ ]:
# so basically the logic is that:

# if 'x' is a list data type      --> dont typecast to str --> slice[0:4]
# if 'x' is NOT  a list data type --> typecast to str      --> slice[0:4]


#To check if an a dataype is a string or not we use the isinstance --> # isinstance() is to check if a variable is of a specific data type

In [ ]:
var1 = [1,2,3]#List
var2 = "Hello"#String
var3 = 100#Integer

In [ ]:
print(isinstance(var1,list)) # is "var1" a list data type? --> True
print(isinstance(var2, list)) # is "var2" a list data type? --> False
print(isinstance(var3, list)) # is "var3" a list data type? --> False

print('----')

print(isinstance(var1, str)) # is "var3" a str data type? --> False
print(isinstance(var2, str)) # is "var2" a sre data type? --> True
print(isinstance(var3, str)) # is "var3" a str data type? --> False

True
False
False
----
False
True
False

In [ ]:
def firstFour_v2(x):
  if (isinstance(x,list)==True):#Check if the datatype is a list or a string
    return(x[0:4])
  else:
    x = str(x)
    return(x[0:4])

In [ ]:
firstFour_v2(230391)

'2303'

In [ ]:
firstFour_v2("Hello There")

'Hell'

In [ ]:
firstFour_v2(["Hello",2,9.999,"John",True])

['Hello', 2, 9.999, 'John']

---
### Example 5

In [ ]:
#create a function called "biggest" and print the biggest number from 3 inputs
# HINT use if else statement
#if (num1 >= num2) AND (num1 >= num3) --> print num1
#if (num2 >= num1) AND (num2 >= num3) --> print num2
#if (num3 >= num1) AND (num3 >= num1) --> print num3


def biggest(n1=0,n2=0,n3=0):
  if(n1>=n2 and n1>=n3):
    return(n1)
  elif(n2>=n1 and n2 >= n3):
    return(n2)
  else:
    return(n3)

In [ ]:
biggest(7, 843, 332)

843

In [ ]:
biggest(231, 5, 3)

231

In [ ]:
biggest(99, 99, 99)

99

In [ ]:
biggest()

0

---
### Example 6

In [ ]:
# creating a function for even or odd logic
def evennumbers(n1=0,n2=0,n3=0):
  if(n1 % 2 == 0):
    return(f"{n1} is even  number")
  elif(n2 % 2 == 0):
    return(f"{n2} is even number")
  elif(n3 % 2 == 0):
    return(f"{n3} is even number")
  else:
    return(f"{n1,n2,n3} is odd numbers")

In [ ]:
evennumbers(2,5,6)

'2 is even  number'

In [ ]:
evennumbers(2094,239839,8372479)

'2094 is even  number'

In [ ]:
evennumbers(49835904,98349584,9439083)

'49835904 is even  number'

In [ ]:
evennumbers(34278789,4923479,239489)

'(34278789, 4923479, 239489) is odd numbers'

---
### Example 7

In [ ]:
# before showing u the next function example, we need to discuss a string command (.count)

text ="I am leaving my mansion with an apple"

# you can count the occurance of a specific letter using ".count()"
counter = text.count("a")
print(counter)

5

In [ ]:
def count_occurences(text,letter):
  return(text.count(letter))

count_occurences("I am leaving my mansion with an apple","a")

5

In [ ]:
count_occurences("Bob the builder is not building the building","b")

4

In [ ]:
count_occurences("My fish is being fished by a fisherman","f")

3

In [ ]:
# there is a problem with ".count()" --> NOT CASE SENSITIVE

In [ ]:
text = "AAAaaa"

In [ ]:
print(text.count("a"))#It will return you 3 -> "aaa","AAA" is omited

# problem is that it just gives us the small "a"

3

In [ ]:
#Solution we standarize the letters

def count_occurences(text,letter):
  text = text.lower()#Convert the text to lowercase
  letter = letter.lower()#Convert the letter to lowercase
  return(text.count(letter))

print(count_occurences("AAAaaa","a"))
print(count_occurences("BBBbbb","B"))

6
6